$amarelo:#f4ebd7;
$verde100:#CFD984;
$verde200:#A9BF5A;
$verde300:#7DA624;
$verde400:#658719;
$verde500:#50700b;

$verdeGrama100:#A2A629;
$verdeGrama200:#898C23;
$verdeGrama300:#707324;
$verdeGrama400:#535925;
$verdeGrama500:#1A2622;

$verdeFolha100:#508D64;
$verdeFolha200:#36876A;
$verdeFolha300:#3A785C;
$verdeFolha400:#265B49;
$verdeFolha500:#1A4039;

$corPrimary:#0CAE9F;
$corPrimary1:#009089;
$corPrimary2:#007A7E;
$corPrimary3:#038C93;
$corPrimary4:#007587;
$corPrimary5:#024d50;

// Pretos:

$preto600:#0d0c0c;
$preto500:rgb(18, 17, 17);
$preto400:#191919;
$preto300:#212121;
$preto200:#292929;
$preto100:#464646;

// Brancos:

$branco500:#E8E3E3;
$branco400:#E5E5E5;
$branco300:#FFFFFF;
$brancoLetra:#cfd1d7;

// Sombras:
$sombra1:rgba(0, 0, 0, 0.747);

// Roxo:

$roxo600:#581df8;
$roxo400:#5c30c4;
$roxo300:#693ADB;
$roxo200:#723dee;
$roxo100:#7c48f7;
$roxo:#7d5fc2;

// Azul

$azul700:#0A0E1A;
$azul600:#1D243D;
$azul500:#353D60;
$azul400:#515A82;
$azul300:#737BA5;
$azul200:#9AA0C8;
$azul100:#C6CAEB;

// Vermelho-rosa:

$VermelhoRosa800:#801336;
$VermelhoRosa700:#971132;
$VermelhoRosa600:#B21029;
$VermelhoRosa500:#EA1836;
$VermelhoRosa400:#FF0D40;
$VermelhoRosa300:#c72c41;
$VermelhoRosa200:#e41b2fea;
$VermelhoRosa100:#e01c30ea;
$VermelhoRosaLeve:#FC3050;
