@import "paletas";
@import "animation";
@import 'fonts';
@import 'mixin';
@import 'animacoes';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aviso{
  padding: 20px;
  font-size: 20px;
  i{
    color: rgb(221, 179, 39);
  }
}
body{
  .hidden{
    visibility: hidden;
  }
  @include fonte(nunito);
  overflow-x: hidden;
    position: relative;
    background-color: $preto500;
    &::-webkit-scrollbar{
      width: 10px;
      background-color: $preto600;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background: $preto200;
    }
    main{
      display: grid;
      justify-content: center;
      grid-template-columns: 10% 90%;
      section{
        transition: all;
        transition-duration: 1s;
        background-color: $preto600;
        height: 100vh;
        padding: 10px;
        &::-webkit-scrollbar{
          width: 10px;
          background-color: $preto600;
          display: none;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 20px;
            background: $preto200;
        }
      }
        #menu{
          border: 1px solid $preto300;
          z-index: 5;
            color: $brancoLetra;
            background-color: $preto600;
            .fa-list, .fa-xmark{
              display: none;
              cursor: pointer;
              border-radius: 5px;
              float: right;
              font-size: 30px;
              margin-bottom: 20px;
            }
            nav{
                clear: both;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                  font-size: 15px;
                }
                #login{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  @include socialNetworkMenu('Login');
                }
                #plans{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  @include socialNetworkMenu('Planos');
                }
                #aboutUs{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  @include socialNetworkMenu('Sobre nós');
                }
                #cart{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  @include socialNetworkMenu('Carrinho');
                }
                #contacts{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  @include socialNetworkMenu('Contatos');
                }
                img{
                    width: 50px;
                }
                div{
                    cursor: pointer;
                    background-color: $preto300;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
                    a{
                      width: 100%;
                      height: 100%;
                      color: $brancoLetra;
                      display: flex;
                      margin: auto;
                      justify-content: space-between;
                      align-content: center;
                      text-decoration: none;
                      min-height: 30px;
                    }
                    border-radius: 20px;
                    width:60px;
                    min-height:60px;
                    padding: 10px;
                    margin: 10px 0px;
                    i{
                      color: $preto100;
                      margin: auto;
                      font-size: 30px;
                      &:active{
                        display: none;
                      }
                    }
                    &:hover{
                      i{
                        color: $brancoLetra;
                      }
                      background-color: $corPrimary2;
                    }
                }
            }
        }
        #contents{
          border: 1px solid $preto300;
          color: $brancoLetra;
          overflow-y: auto;
          overflow-x: hidden;
          a{
            text-decoration: none;
          }
            #cart, #login, #aboutUs, #plans, #apresentation{
              height: 98vh;
            }
          #cart{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            input{
              border:none;
              width: 250px;
              font-size: 18px;
              height: 45px;
              padding: 5px;
            }
            picture{
              img{
                width: 180px;
              }
            }
            button{
              padding: 10px;
              cursor: pointer;
              border: none;
              font-size: 18px;
              width: 250px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              text-transform: uppercase;
              background-color: #029790;
              color: #f6fcfb;
              &:hover{
                background-color: #018079;
              }
            }
            .options, .products{
              margin: 5px;
              padding: 20px;
              button, input{
                display: flex;
                justify-content: center;
                width: 100%;
                margin: auto;
              }
            }
            .options{
              border-radius: 10px;
              width: 100%;
              height: auto;
              background-color: $corPrimary2;
              .menu{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .coupon, .total{
                  padding: 20px;
                }
              }
            }
            .products{
              display: flex;
              justify-content: center;
              margin: auto;
              background-color: $preto400;
              margin-top: 20px;
              .product{
                text-align: center;
                color: $preto100;
              }
            }
          }
          #login{
            background: url(../../img/background_login.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            form{
              display: grid;
              justify-content: center;
              margin: auto;
              border: 1px solid $preto300;
              backdrop-filter: blur(2px);
              padding: 60px;
              border-radius: 10px;
              label{
                font-size: 20px;
                font-weight: 600;
                color: $preto100;
              }
              input{
                border:none;
                width: 250px;
                font-size: 18px;
                height: 35px;
                padding: 5px;
              }
              small{
                a{
                  text-decoration: none;
                  color: $corPrimary2;
                }
              }
            }
            button{
              padding: 10px;
              cursor: pointer;
              border: none;
              font-size: 18px;
              width: 250px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              text-transform: uppercase;
              background-color: #029790;
              color: #f6fcfb;
              &:hover{
                background-color: #018079;
              }
            }
          }
          #aboutUs{
            .block_1, .block_2{
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              picture{
                img{
                  width: 380px;
                }
              }
              .text{
                max-width: 545px;
              }
            }
          }
          #plans{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .card{
              position: relative;
              background-color: $preto400;
              margin: 20px;
              width: 300px;
              height: 350px;
              padding: 30px;
              border: 1px solid $preto300;
              border-radius: 10px;
              div{
                position: relative;
                bottom: -15px;
                display: flex;
                justify-content: center;
                picture{
                  img{
                    width: 150px;
                    margin-left: -25px;
                  }
                }
                .img{
                  img{
                    width: 150px;

                  }
                }
                .text{
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: start;
                  margin: auto;
                  p{
                    font-size: 14px;
                    margin-top: 10px;
                  }
                }
              }
              small{
                display: flex;
                justify-content: center;
              }
              h4{
                position: absolute;
                top: -20px;
                left: -20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $corPrimary3;
                border-radius: 200%;
                width: 65px;
                height: 65px;
                color: $corPrimary5;
                font-weight: 600;
                border: 3px solid $corPrimary5;
              }
              button{
                position: absolute;
                padding: 10px;
                cursor: pointer;
                border: none;
                font-size: 16px;
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                text-transform: uppercase;
                background-color: #029790;
                bottom: 20px;
                color: #f6fcfb;
                &:hover{
                  background-color: #018079;
                }
              }
            }
          }
          #apresentation{
            background:url(../../img/painel_top.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-size: cover;
            padding: 25px;
            margin-top: 0px;
            border-radius: 5px;
            height: 95vh;
            div{
              position: relative;
              margin: auto;

            }
            .img{
                margin: auto;
                text-align: center;
                picture{
                    img{
                        width: 300px;
                    }
                }
            }
            .text{
              h1{
                text-shadow: 0px 0px 10px rgba(46, 45, 45, 0.63);
                display: flex;
                font-size: 100px;
                font-weight: 800;
                border-left: none;
                text-align: center;
                @include fonte(fugaz);
              }
              h3{
                text-shadow: 0px 0px 5px rgba(46, 45, 45, 0.63);
                display: flex;
                justify-content: center;
                margin: auto;
                font-size: 20px;
                margin: 30px;
              }
              p, h4{
                display: flex;
                margin: auto;
                max-width: 500px;
              }
              button{
                box-shadow: 5px 5px 10px #06616188;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                margin: auto;
                background-color: #0C9999;
                border: none;
                width: 200px;
                height: 45px;
                border-radius: 50px;
                &:hover{
                  background-color: #0b8f8f;
                }
                a{
                  color: $brancoLetra;
                }
              }
            }
          }
        }
    }
}


// Media Queries:

// Media para web
@media (min-width: 800px) and (max-width:2522px) {

}

// Media desktop medio
@media (max-width: 1070px) {
  body{
      main{
        #menu{
          nav{
            h1{
              font-size: 14px;
            }
            img{
                width: 50px;
            }
            div{
              padding: 8px;
              h3{
                font-size: 13px;
              }
              i{
                  font-size: 25px;
              }
            }
          }
        }
        #contents{
            #apresentation{
              display: block;
              div{
                top: -30px;
              }
              .img{
                margin-top: 25px;
                picture{
                  img{
                    margin-bottom: 40px;
                  }
                }
              }
              .text{
                h1{
                  display: flex;
                  justify-content: center;
                  margin: auto;
                  font-size: 60px;
                  border-bottom: none;
                }
              }

            }

        }
    }
  }
}

// Media tablet
@media (max-width: 798px) {
  body{
      main{
        grid-template-columns: 15% 85%;
        section{
          margin: 5px;
        }
        #menu{
          nav{
            h1{
              display: none;
            }
            img{
                width: 45px;
                margin-bottom: 10px;
            }
            div{
              h3{
                display: none;
              }
              i{
                display: flex;
                margin: auto;
                font-size: 25px;
              }

            }
          }
        }
        #contents{
          #apresentation{
            display: block;
              .img{
                margin-top: 25px;
                picture{
                  img{
                    width: 200px;
                    height: 200px;
                  }
                }
              }
              .text{
                h1{
                  display: flex;
                  justify-content: center;
                  margin: auto;
                  font-size: 50px;
                  border-bottom: none;
                }
              }
              .aside_contacts{
                display: flex;
                justify-content: space-between;
                width: 150px;
                margin-top: 15px;
                i{
                  font-size: 30px;
                }
                #github{
                  position: relative;
                  display: flex;
                  @include socialNetworkMobile('GitHub');
                }
                #linkedin{
                  position: relative;
                  display: flex;
                  @include socialNetworkMobile('LinkedIn');
                }
                #instagram{
                  position: relative;
                  display: flex;
                  @include socialNetworkMobile('Instagram');
                }
                #curriculo{
                  position: relative;
                  display: flex;
                  @include socialNetworkMobile('Currículo');
                }
              }
          }
          #about_me{

          }
          #certifications{
            .certifications{
              .certifications_finalling, .certifications_progress{
                .curse{

                }
              }
            }
          }
        }
    }
  }
}

// Media mini tablet
@media (max-width: 598px) {
    body{
        header{
        }
        main{
          grid-template-columns: 18% 82%;
          #menu{
            nav{
              div{
                width: 55px;
                min-height:55px;
              }
            }
          }
          #contents{
            #about_me{

            }
            #certifications{
              article{
                h3{
                  display: none;
                }
                h6{
                  margin-bottom: 10px;
                  font-size: 12px;
                  font-weight: 500;
                }
                .certifications{
                  .certifications_finalling, .certifications_progress{
                    justify-content: start;
                    flex-wrap: wrap;
                    height: auto;
                  }
                }
                .img{
                  picture{
                    img{
                      top: 50px;
                      right: -10px;
                      position: absolute;
                    }
                  }
                }
                .title{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  i{
                    margin-left: 20px;
                    font-size: 25px;
                    color: $preto100;
                    margin-bottom: -10px;
                  }
                  h4{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 30px;
                    margin-top: 20px;
                  }
                }

                .img{
                  max-width: 600px;
                  padding: 20px;
                  picture{
                    img{
                      top: -80px;
                      right: -10px;
                      position: absolute;
                    }
                  }
                }
                .certifications{
                  text-align: center;
                  display: flex;
                  flex-wrap: wrap;
                  max-width: 400px;
                  .certifications_finalling, .certifications_progress{
                    width: 90%;
                    .curse{
                      cursor: pointer;
                      margin: 10px;
                      border-radius: 5px;
                      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
                      padding: 15px;
                    }
                  }
                }
              }
            }
          }
        }
    }
}

// Media para mobile
@media (max-width: 415px) {
  body{
    main{
      position: relative;
      display: flex;
      grid-template-columns: 18% 82%;
      section{
        margin: 2px;
      }
      #menu{
        position: absolute;
        right: 0;
        height: 50px;
        border-radius: 0px 0px 10px 10px;

        overflow: hidden;
        .fa-list, .fa-xmark{
          width: 50px;
          display: flex;
          justify-content: center;
        }
        nav{
          #login, #plans, #aboutUs, #cart, #contacts{
            &:hover{
              &::after{
                content: '';
                display: none;
              }
            }
          }
          h1{
            display: none;
          }
          img{
              width: 40px;
              margin-bottom: 10px;
          }
          div{
            width: 55px;
            padding: 10px;
            h3{
              display: none;
            }
            i{
              display: flex;
              margin: auto;
              font-size: 22px;
            }
          }
        }
      }
      #contents{
        width: 100%;
        #apresentation{
        }
        #skills{
          display: grid;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
