@import '../../../assets/style/sass/paletas';
#login{
  background-color: $preto100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form{
  background-color: $corPrimary2;
  padding: 20px;
}
