@keyframes plants {
  from {
    transform: translate(0px, -30px);
  }
  to {
    transform: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  background-color: #191919;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #0d0c0c;
}
body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #292929;
}
body main {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 85%;
}
body main section {
  transition: all;
  transition-duration: 1s;
  background-color: #292929;
  height: 97vh;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
body main section::-webkit-scrollbar {
  width: 10px;
  background-color: #0d0c0c;
}
body main section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #292929;
}
body main #menu {
  color: #cfd1d7;
  background-color: #292929;
}
body main #menu .fa-list, body main #menu .fa-xmark {
  display: none;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  font-size: 30px;
  margin-bottom: 20px;
}
body main #menu nav {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #menu nav img {
  width: 50px;
}
body main #menu nav div {
  cursor: pointer;
  background-color: #212121;
  border: 0.5px solid rgba(128, 128, 128, 0.384);
  border-radius: 20px;
  width: 100%;
  min-height: 40px;
  padding: 10px;
  margin: 10px 0px;
}
body main #menu nav div a {
  color: #cfd1d7;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-decoration: none;
  min-height: 30px;
}
body main #menu nav div i {
  font-size: 30px;
}
body main #menu nav div i:active {
  display: none;
}
body main #menu nav div:hover {
  background-color: #038C93;
}
body main #menu nav div:hover a {
  color: #191919;
}
body main #contents {
  color: #cfd1d7;
  overflow-y: auto;
  overflow-x: hidden;
}
body main #contents #apresentation {
  background: url(../../img/painel_top.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}
body main #contents #apresentation h1 {
  font-size: 70px;
}
body main #contents #apresentation img {
  width: 300px;
}
body main #contents #apresentation p {
  max-width: 500px;
  margin-left: auto;
}
body main #contents #apresentation button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background: linear-gradient(to right, #0EC1A4, #1566b3);
  color: #cfd1d7;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  margin-top: 15px;
  padding: 10px;
}
body main #contents #apresentation button a {
  text-decoration: none;
  color: #cfd1d7;
}
body main #contents #apresentation button i {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  margin-left: 20px;
}
body main #contents #apresentation button:hover i {
  transform: translate(10px);
}

@media (max-width: 1070px) {
  body main #menu nav h1 {
    font-size: 14px;
  }
  body main #menu nav img {
    width: 50px;
  }
  body main #menu nav div {
    padding: 8px;
  }
  body main #menu nav div h3 {
    font-size: 16px;
  }
  body main #menu nav div i {
    font-size: 25px;
  }
  body main #contents #apresentation h1 {
    font-size: 60px;
  }
  body main #contents #apresentation img {
    width: 200px;
  }
  body main #contents #apresentation button {
    font-size: 18px;
    padding: 8px;
  }
}
@media (max-width: 798px) {
  body main section {
    margin: 5px;
  }
  body main #menu nav h1 {
    display: none;
  }
  body main #menu nav img {
    width: 45px;
    margin-bottom: 10px;
  }
  body main #menu nav div h3 {
    display: none;
  }
  body main #menu nav div i {
    display: flex;
    margin: auto;
    font-size: 25px;
  }
  body main #contents #apresentation {
    min-height: 100%;
  }
  body main #contents #apresentation h1 {
    font-size: 40px;
  }
  body main #contents #apresentation img {
    width: 200px;
  }
  body main #contents #apresentation button {
    font-size: 16px;
    padding: 8px;
  }
}
@media (max-width: 598px) {
  body main #menu nav div {
    width: 50px;
  }
}
@media (max-width: 415px) {
  body main {
    position: relative;
    display: flex;
  }
  body main section {
    margin: 2px;
  }
  body main #menu {
    position: absolute;
    right: 0;
    height: 50px;
    overflow: hidden;
  }
  body main #menu .fa-list, body main #menu .fa-xmark {
    width: 50px;
    display: flex;
    justify-content: center;
  }
  body main #menu nav h1 {
    display: none;
  }
  body main #menu nav img {
    width: 40px;
    margin-bottom: 10px;
  }
  body main #menu nav div {
    width: 50px;
    padding: 10px;
  }
  body main #menu nav div h3 {
    display: none;
  }
  body main #menu nav div i {
    display: flex;
    margin: auto;
    font-size: 22px;
  }
  body main #contents {
    width: 100%;
  }
  body main #contents #apresentation h1 {
    font-size: 30px;
  }
  body main #contents #apresentation img {
    width: 180px;
  }
  body main #contents #apresentation button {
    font-size: 16px;
    padding: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
